In [1]:
import pandas as pd

In [8]:
csv = "clean.csv"

base_df = pd.read_csv(csv)
base_df

,Id,OwnerCity,OwnerState,PropertyLocationStreet1,PropertyCity,PropertyZip,StateParcelId,ParcelSize,ValueofHome,YearBuilt,...,FireID,DistancetoFireDepartment,DistancetoSinkhole,SinkholeLatitude,SinkholeLongitude,LocationWindSpeed,WindborneDebrisRegion,Terrain,FloodZone,FloodZoneRiskLevel
0,12009f31026acc440,PINEHURST,NC,5833 NEWBURY CIR,MELBOURNE,32940,C15-000-035-4368-3,10890.0,360350.0,2001.0,...,NaN,1.67,19.32,28.46383,-80.79177,120.0,True,B,X:100,NaN
1,120112bfc77a87376,STAFFORD,VA,12723 SW 49 CT,MIRAMAR,33027,C16-000-107-5040-4,2328.0,228680.0,2003.0,...,645.0,2.37,5.11,25.98582,-80.23586,140.0,True,HVHZ,X:100,NaN
2,12081776a04b281f4,RICHMOND,VA,6470 SEAGULL DR UNIT 307,BRADENTON,34210,C51-000-535-8660-8,44.0,135000.0,1980.0,...,NaN,0.96,1.93,27.41706,-82.56742,130.0,True,C,A:100,NaN
3,12103fabafeea9fb7,ARLINGTON,VA,1012 NORTH SHORE DR NE # 12,SAINT PETERSBURG,33701,C62-000-778-7949-2,NaN,87660.0,1959.0,...,855.0,1.08,1.00,27.77333,-82.64000,123.0,True,C,"X500:40, A:30, X:30",NaN
4,120213b0f5f17e3d1,ROCK HILL,SC,5550 HERON POINT DR,NAPLES,34108,C21-000-189-4508-9,NaN,663090.0,1991.0,...,50.0,1.37,11.43,26.27444,-81.63916,131.0,True,C,A:100,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,12086e1ddd12521cd,BLUFFTON,SC,5765 NW 99 CT,DORAL,33178,C23-000-278-7237-3,3473.0,329160.0,1993.0,...,NaN,0.27,13.46,25.98582,-80.23586,146.0,True,HVHZ,X:100,NaN
224,120861813f1294d56,RICHMOND,VA,7805 NOREMAC AVE,MIAMI BEACH,33141,C23-000-207-1780-7,9000.0,924061.0,1941.0,...,627.0,0.71,7.25,25.96256,-80.16641,146.0,True,HVHZ,A:100,NaN
225,12089ed366ee68b8e,MARS HILL,NC,246 S FLETCHER AVE,FERNANDINA BEACH,32034,C55-000-585-3872-9,6650.0,274291.0,1929.0,...,359.0,1.23,6.33,30.67020,-81.53824,120.0,True,C,X:100,NaN
226,1211544028709F1DD,OAKTON,VA,171 VISTA HERMOSA CIR 21-B,SARASOTA,34242,C68-000-867-0448-3,NaN,267400.0,1971.0,...,NaN,1.13,2.29,27.27514,-82.55399,130.0,True,B,A:100,NaN
227,1212772a5d810d464,MATTHEWS,NC,3 SUNSET BLVD,ORMOND BEACH,32176,C74-000-925-7435-9,8800.0,172189.0,1967.0,...,NaN,0.59,0.97,29.35629,-81.07076,120.0,True,C,X:100,NaN

In [14]:
house_df = base_df[["Id", "OwnerCity", "OwnerState", "PropertyLocationStreet1", "PropertyCity",
                    "PropertyZip", "YearBuilt", "TypeOfResidence"]]
house_df

,Id,OwnerCity,OwnerState,PropertyLocationStreet1,PropertyCity,PropertyZip,YearBuilt,TypeOfResidence
0,12009f31026acc440,PINEHURST,NC,5833 NEWBURY CIR,MELBOURNE,32940,2001.0,SINGLE FAMILY
1,120112bfc77a87376,STAFFORD,VA,12723 SW 49 CT,MIRAMAR,33027,2003.0,ATTACHED RESIDENTIAL
2,12081776a04b281f4,RICHMOND,VA,6470 SEAGULL DR UNIT 307,BRADENTON,34210,1980.0,CONDO STACKED
3,12103fabafeea9fb7,ARLINGTON,VA,1012 NORTH SHORE DR NE # 12,SAINT PETERSBURG,33701,1959.0,CONDO STACKED
4,120213b0f5f17e3d1,ROCK HILL,SC,5550 HERON POINT DR,NAPLES,34108,1991.0,CONDO STACKED
...,...,...,...,...,...,...,...,...
223,12086e1ddd12521cd,BLUFFTON,SC,5765 NW 99 CT,DORAL,33178,1993.0,SINGLE FAMILY
224,120861813f1294d56,RICHMOND,VA,7805 NOREMAC AVE,MIAMI BEACH,33141,1941.0,SINGLE FAMILY
225,12089ed366ee68b8e,MARS HILL,NC,246 S FLETCHER AVE,FERNANDINA BEACH,32034,1929.0,SINGLE FAMILY
226,1211544028709F1DD,OAKTON,VA,171 VISTA HERMOSA CIR 21-B,SARASOTA,34242,1971.0,CONDO ROW
227,1212772a5d810d464,MATTHEWS,NC,3 SUNSET BLVD,ORMOND BEACH,32176,1967.0,SINGLE FAMILY

In [16]:
house_df["TypeOfResidence"].value_counts()

SINGLE FAMILY           161
CONDO STACKED            39
ATTACHED RESIDENTIAL     16
CONDO ROW                 8
CONDO UNIT                4
Name: TypeOfResidence, dtype: int64

In [27]:
year = house_df["YearBuilt"].value_counts()
year

1973.0    11
1990.0     8
1986.0     7
1985.0     7
1987.0     7
          ..
1944.0     1
1900.0     1
1940.0     1
1924.0     1
1971.0     1
Name: YearBuilt, Length: 71, dtype: int64